name: CI
on:
  push:
    branches: '**'

jobs:
  CI:
    name: CI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set Up Bun

      uses: oven-sh/setup-bun@v2

    - name: Run Linter
      run: bun run lint

    - name: Build

      run: bun run build
